@CHARSET "ISO-8859-1";
body
{
	background-image: url("imagens/papel_parede_topo.jpg");
}

.ui-widget {  
   font-size: 12px !important;  
}

#topo {
	border: 1px solid black;
	height: 50px;
	font-family: 'Lobster', cursive;
	font-size: 15px;
	opacity:0.9;
	padding-bottom: 25px;
}

#menu {
	margin-top: 5px;
	height: 55px;
	background-color: #0000ff;
}

#conteudo {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 30px;
	height: 400px;
	width: 80%;
	float: right;
	background-color: #00ff40;
}

#barra_lateral {
	margin-top: 5px;
	height: 400px;
	width: 15%;
	float: left;
	background-color: #ffffff;
}

#rodape {
	margin-top: 415px;
	height: 30px;
	background-color: #ff8080;
}
